@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=cyrillic');

:root {
  --color-base: #000000;
  --color-light: #888888;
  --color-border: #e9e3ef;
  --color-warning: #e5006e;

  --background-body: #f9f7fb;
  --background-mask: rgba(0,0,0,.6);
  --background-panel: #ffffff;
  --background-button_first: #3844d5;
  --background-button_second: #268fec;
  --gradient-first: #7100e5;
  --gradient-second: #3843d5;

  --text-size-xs: 0.625rem;   /* 10px */
  --text-size-s: 0.75rem;     /* 12px */
  --text-size-r: 0.875rem;    /* 14px */
  --text-size-m: 1rem;        /* 16px */
  --text-size-x: 1.125rem;    /* 18px */
  --text-size-xl: 1.5rem;     /* 24px */
  --text-size-xxl: 1.875rem;  /* 30px */

  --transition: 300ms ease 0s;

}

*,  ::after,  ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: var(--text-size-r);
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.47;
  font-weight: 400;
  height: 100%;
  background: var(--background-body);
  color: var(--color-base);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: var(--background-body);
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-light);
  border-radius: 4px;
}

/* OBJECTS */
[class*="o-icon"] {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-light);
  display: inline-block;
  vertical-align: middle;
}

.o-text_small {
  font-size: var(--text-size-s);
}

.o-text_light {
  color: var(--color-light);
}

/* ASIDE */
.aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 84px;
  height: 100%;
  background: var(--background-panel);
  box-shadow: 0 0 40px 0 rgba(45, 0, 90, 0.1);
  overflow-x: hidden;
  transition: width var(--transition);
  z-index: 39;
}

.body_aside::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background-mask);
  z-index: 29;
}

.body_aside .aside {
  width: 250px;
}

.o-logo {
  width: 194px;
  height: 41px;
  float: left;
  margin: 1.875rem 0 0 1.625rem;
  cursor: pointer;
}

.o-slogan {
  width: 194px;
  height: 63px;
  clear: left;
  float: left;
  margin: 0 0 1.875rem 1.625rem;
  opacity: 0;
  transition: opacity var(--transition);
}

.body_aside .o-slogan {
  opacity: 1;
}

.aside__menu {
  min-height: calc(100% - 17.75rem);
}

.o-menu__item {
  display: block;
  padding: 1.125rem 1.875rem;
  font-size: 1rem;
  color: var(--color-light);
  white-space: nowrap;
}

a.o-menu__item:link,
a.o-menu__item:visited {
  color: var(--color-light);
  text-decoration: none;
}

.o-menu__item .o-icon {
  margin-right: 1.875rem;
}

.o-menu__item .o-icon {
  margin-right: 1.875rem;
  transition: margin var(--transition);
}

.body_aside .o-menu__item .o-icon {
  margin-right: 0.875rem;
}

.o-menu__item:hover {
  background: var(--background-body);
  cursor: pointer;
}

.aside__user {
  font-size: var(--text-size-r);
  padding: 1.25rem;
  margin-top: 2rem;
  white-space: nowrap;
}

.aside__user img {
  float: left;
  width: 3rem;
  height: 3rem;
  margin-top: -3px;
  margin-right: 1rem;
  border-radius: 50%;
}

