@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');

:root {
  --color-base: #2d3851;
  --color-accident: #333d56;
  --color-success: #4ac350;
  --color-focus: #1e389c;
  --color-error: #e24448;
  --color-label: #989ead;
  --color-border: #eae9ee;
  --color-heading: #f3f2f9;

  --text-size-s: 0.625rem;  /* 10px */
  --text-size-r: 0.75rem;   /* 12px */
  --text-size-m: 0.8125rem; /* 13px */
  --text-size-l: 0.875rem; /* 13px */
  --text-size-x: 1.125rem;  /* 18px */
  --text-size-xl: 1.5rem;   /* 24px */

}

*,  ::after,  ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: var(--text-size-r);
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 1px;
  background: var(--color-border);
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.o-link,
.o-link:visited,
.o-link_with-icon {
  color: var(--color-label);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 300ms ease 0s;
}

.o-link:hover,
.o-link_with-icon:hover {
  text-decoration: underline;
  color: var(--color-accident);
}

.o-link_with-icon {
  text-transform: none;
}

.o-link_with-icon .o-icon {
  margin: 0 9px;
  vertical-align: text-bottom;
}

.section__header .o-link_with-icon {
  margin-right: 1rem;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.47;
  font-weight: 400;
  height: 100%;
  background: #fafafc;
  color: var(--color-base);
}



::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: var(--color-border);
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accident);
}

.aside {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 38;
  left: 0;
  top: 0;
  padding-top: 110px;
  padding-bottom: 50px;
  overflow-y: auto;
  background: #0b163c;
  box-shadow: 0 0 20px 0 rgba(0, 35, 173, 0.4);
}

.aside::-webkit-scrollbar,
.aside::-webkit-scrollbar-track,
.aside::-webkit-scrollbar-track-piece {
  background: #0b1529;
  width: 4px;
}

.aside::-webkit-scrollbar-thumb {
  background: rgba(243,244,245,.8);
}

.header {
  background: var(--color-heading);
  color: var(--color-base);
  position: fixed;
  z-index: 36;
  width: 100%;
  height: 70px;
  font-size: var(--text-size-r);
  top: 0;
  left: 0;
  padding: 15px 40px 0 209px;
}

.header__breadcrumbs {
  font-weight: 600;
  font-size: var(--text-size-xl);
  color: var(--color-accident);
  line-height: 1.7;
}

.header__user {
  padding-right: 40px;
  padding-top: 5px;
}

.header__user img {
  float: left;
  margin: -5px 14px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.section {
  padding: 70px 40px 70px 210px;
}

.section__header {
  margin: 30px 0;
}

.section__form {
  padding-top: 30px;
  max-width: 57.5rem;
  font-size: var(--text-size-r);
}

.o-menu__item {
  text-align: center;
  padding: 15px 0;
  display: block;
  text-decoration: none;
  color: #555d77;
  fill: #555d77;
  font-size: var(--text-size-s);
  text-transform: uppercase;
  cursor: pointer;
}

.o-menu__item .o-icon {
  display: block;
  margin: 0 auto 10px;
  width: 30px;
  height: 30px;
  fill: inherit;
}

.o-menu__item.active {
  background: #252f52;
  cursor: default;
  color: #fff;
  fill: #fff;
}

[class*="o-icon"] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  fill: var(--color-label);
  transition: fill 300ms ease 0s;
}

.o-link_with-icon:hover [class*="o-icon"],
.o-link:hover [class*="o-icon"],
[class*="o-icon"].o-link:hover {
  fill: var(--color-accident);
  cursor: pointer;
}

.marked {
  position: relative;
  display: inline-block;
}

.marked::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 1px;
  background: var(--color-error);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  box-shadow: 0.5px 0.9px 3px 0 rgba(0, 9, 47, 0.2);
}

  /* LAYOUTS */
.l-float_right {
  float: right;
}

.l-float_left {
  float: left;
}

.l-align_right {
  text-align: right;
}

.l-align_center {
  text-align: center;
}

.l-position_relative {
  position: relative;
}

.l-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.25rem;
}

.section__form .l-grid {
  grid-column-gap: 0.625rem;
}

.l-grid_row {
  margin-bottom: 20px;
  min-height: 10px;
}

.l-grid__item_1 {grid-column: span 1}
.l-grid__item_2 {grid-column: span 2}
.l-grid__item_3 {grid-column: span 3}
.l-grid__item_4 {grid-column: span 4}
.l-grid__item_5 {grid-column: span 5}
.l-grid__item_6 {grid-column: span 6}
.l-grid__item_7 {grid-column: span 7}
.l-grid__item_8 {grid-column: span 8}
.l-grid__item_9 {grid-column: span 9}
.l-grid__item_10 {grid-column: span 10}
.l-grid__item_11 {grid-column: span 11}
.l-grid__item_12 {grid-column: span 12}

.l-switcher-control {
  padding: 10px 0;
}

/* OBJECTS */
.hidden {
  display: none;
}

.o-text {
  font-size: var(--text-size-r);
}

.o-text_small {
  font-size: var(--text-size-s);
}

.o-text_label {
  color: var(--color-label);
}

.o-text_nowrap {
  white-space: nowrap;
}

.o-text_strong {
  font-weight: 600;
}

.o-title {
  font-size: var(--text-size-x);
  padding-top: 5px;
  font-weight: 600;
}

.o-title_sub {
  font-size: var(--text-size-l);
  font-weight: 600;
  color: var(--color-accident);
}

.o-title + .o-icon {
  width: 1.125rem;
  height: 1.125rem;
  margin-top: 10px;
  margin-left: 19px;
}

[class*="o-button"] {
  font-size: var(--text-size-s);
  text-transform: uppercase;
  padding: 11px 20px 10px;
  color: var(--color-success);
  border: 1px solid var(--color-success);
  line-height: 1.3;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  min-width: 110px;
}

.o-button_primary {
  background: #50c156;
  border-color: #50c156;
  color: #fff;
}

.o-button:hover,
.o-button_primary:hover {
  color: #fff;
  background: var(--color-success);
  border-color: var(--color-success);
}

.o-button_secondary {
  background: transparent none;
  border-color: transparent;
  color: var(--color-label);
  transition: color 300ms ease 0s;
}

.o-button_secondary:hover {
  color: var(--color-accident)
}


.o-input,
.o-textarea,
.o-select {
  height: 50px;
  display: block;
  width: 100%;
  background: transparent none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 2px;
  border: solid 1px #eae9ee;
  padding: 18px 20px 4px 15px;
  font-size: var(--text-size-l);
  position: relative;
  color: var(--color-accident);
  z-index: 1;
}

.o-input:focus,
.o-textarea:focus,
.o-select:focus {
  border-color: var(--color-focus);
}

.o-select_opened {
  border-color: var(--color-focus)
}

.o-textarea {
  padding: 24px 20px 24px 15px;
}

.o-text_label_input {
  color: var(--color-label);
  font-size: var(--text-size-s);
  position: absolute;
  margin-left: 15px;
  margin-top: -42px;
  transition: margin 200ms ease 0s, font-size 200ms ease 0s;
}
.o-textarea + .o-text_label_input {
  margin-top: -92px;
}

.o-input:placeholder-shown {
  padding-bottom: 18px;
}

.o-input:placeholder-shown + .o-text_label_input {
  font-size: var(--text-size-l);
  margin-top: -35px;
}

.o-textarea:placeholder-shown + .o-text_label_input {
  font-size: var(--text-size-l);
  margin-top: -76px;
}

.o-textarea {
  height: 100px;
  resize: none;
}

.o-select {
  cursor: pointer;
  padding: 8px 20px 8px 15px;
  position:relative;
  z-index: auto;
}

.o-select::after {
  content: "▼";
  color: var(--color-label);
  font-size: 6px;
  position: absolute;
  right: calc(6px + 2%);
  margin-top: -2px;
  top: 50%;
  transform: scaleX(1.5);
}

.section__header .o-select {
  padding: 0.625rem 1.6875rem 0.625rem 0.8125rem;
  line-height: 1.2;
  max-width: 9.25rem;
  height: auto;
  font-size: var(--text-size-r);
}

.o-select__list {
  font-size: var(--text-size-r);
  display: none;
  position: absolute;
  top: 48px;
  max-height: 254px;
  overflow-y: auto;
  left: -1px;
  background: #fafafc;
  z-index: 9;
  width: calc(100% + 2px);
  border: 1px solid var(--color-focus);
  border-top-color: #fafafc;
}

.o-select_choice .o-select__list {
  top: -1px;
  border-color: var(--color-border);
}

.o-select_opened .o-select__list {
  display: block;
}

.o-select__item {
  padding: 8px 20px;
  cursor: pointer;
  position: relative;
}

.o-select__item:hover,
.o-select__item_back,
.o-select_choice .o-select__item_selected:hover {
  background: var(--color-heading);
}

.o-select_choice .o-select__item {
  border-bottom: 1px solid var(--color-border);
  padding-top: 12px;
  padding-bottom: 12px;
}

.o-select__item_selected,
.o-select__item_selected:hover {
  color: #fff;
  background: var(--color-focus);
}

.o-select_choice .o-select__item_selected {
  color: var(--color-base);
  background-color: transparent;
}

.o-select_multichoice .o-select__item {
  padding-left: 40px;
}

.o-select_multichoice .o-select__item::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: solid 1px var(--color-border);
}

.o-select_multichoice .o-icon {
  position: absolute;
  left: 17px;
  top: 50%;
  margin-top: -6px;
  fill: #fff;
  display: none;
  width: 12px;
  height: 12px;
}

.o-select_multichoice .o-select__item_selected .o-icon {
  display: block;
}

.o-select__item_back svg {
  margin: -1px 10px 0 0;
}

.o-select_choice .o-select__item:hover::before {
  content: "Выбрать";
  position: absolute;
  right: 29px;
  top: 50%;
  margin-top: -5px;
  text-transform: uppercase;
  font-size: 8px;
}

.o-select_choice .o-select__item_selected::after {
  content: "▼";
  color: var(--color-base);
  font-size: 4px;
  display: inline-block;
  vertical-align: middle;
  transform: rotate(-90deg) scaleX(1.5);
  margin: -1px 0 0 5px;
}

.o-select__item_back::before {
  display: none;
}

.o-select_multichoice .o-select__item {
}

.o-switcher {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}

.o-switcher::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 16px;
  border-radius: 8px;
  background-color: var(--color-border);
  transition: background 300ms ease 0s;
}

.o-switcher::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0, 35, 173, 0.1);
  background-color: var(--color-label);
  transition: left 300ms ease 0s, background 300ms ease 0s;
}

.o-switcher_active::before {
  background-color: #a5b1d5;
}

.o-switcher_active::after {
  background-color: #1e389c;
  left: 17px;
}

.o-container {
  font-size: var(--text-size-r);
  border-radius: 2px;
  box-shadow: 0 0 5px 0 rgba(0, 35, 173, 0.1);
  background-color: #ffffff;
}

.o-container__title {
  color: var(--color-accident);
  padding: 1.25rem 9.25rem 1.25rem 1.875rem;
  cursor: pointer;
}

.o-container__item {
  border-top: 1px solid var(--color-border);
}

.o-container__item:first-child {
  border-top: 0;
}

.o-container__item_opened .o-container__title,
.o-container__title:hover {
  background: var(--color-heading);
}

.o-container__item_opened .o-icon_edit {
  display: inline-block;
  fill: #9ca2b1;
  margin-left: 4px;
}

.o-container__title .o-text_label {
  padding-right: 3rem;
}

.o-container__edit {
  padding: 30px;
  display: none;
}

.o-container__item_opened .o-container__edit {
  display: block;
}

.o-filter {
  margin-right: 1.25rem
}

.o-filter::after {
  content: "";
  display: block;
  clear: both;
}

.o-filter__item {
  float: left;
  padding: 0.625rem 0.875rem;
  line-height: 1.2;
  font-size: var(--text-size-r);
  color: var(--color-label);
  cursor: pointer;
  border: 1px solid var(--color-border);
  margin-right: -1px;
}

.o-filter__item.active {
  background: #fff;
  color: var(--color-accident);
  cursor: default;
}

.o-table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.o-table__th {
  background: var(--color-heading);
  font-size: var(--text-size-s);
  text-transform: uppercase;
  font-weight: 400;
  padding: 1.25rem 0 1.25rem 1.875rem;
  border-bottom: 1px solid var(--color-border);
  text-align: left;
}

.o-table__sort {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

[class*="o-table__sort_"]::after {
  content: "▼";
  color: var(--color-label);
  font-size: 6px;
  position: absolute;
  right: -11px;
  top: 2px;
  transform: scaleX(1.5);
}

.o-table__sort_asc::after {
  transform: scaleX(1.5) rotate(180deg);
}

.o-table__td {
  background: #fff;
  padding: 0.75rem 0 0.75rem 1.875rem;
  border-bottom: 1px solid var(--color-border);
}

.o-table__th:last-child,
.o-table__td:last-child {
  padding-right: 2.5rem;
}

.o-table .l-align_right {
  text-align: right;
}

.o-status {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border-radius: 8px;
  border: solid 2px var(--color-label);
  background-color: #fff;
}

.status_approved .o-status {
  border-color: var(--color-success);
}

.status_preapproved .o-status {
  border-color: var(--color-success);
  background: var(--color-success);
}

.status_rejected .o-status {
  border-color: var(--color-error);
}

.status_draft .o-status {
  background: var(--color-label);
}

.status_draft .o-table__td {
  color: var(--color-label);
}

tr:hover .o-table__td,
tr.selected .o-table__td {
  background: var(--color-heading);
}

.o-icon_more {
  position: absolute;
  right: -1.75rem;
  top: 0;
}

.o-dropdown-list {
  position: absolute;
  display: none;
  right: -2.5rem;
  top: 1.25rem;
  background: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
}

.o-dropdown-list__item {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  text-transform: none;
  color: var(--color-base);
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
}

.o-dropdown-list__item:hover {
  background: var(--color-heading);
}

.o-dropdown-list__item_close {
  color: var(--color-error);
  margin-top: 1rem;
}

.o-pagination {
  padding-top: 1.875rem;
}

.o-pagination .o-select {
  height: 36px;
  font-size: var(--text-size-r);
  float: right;
}

.o-pagination__list {
  text-align: center;
  margin: 0 auto;
}

.o-pagination__item {
  border: 1px solid var(--color-border);
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  min-width: 36px;
  margin-right: -1px;
  float: left;
  color: var(--color-label);
  cursor: pointer;
}

.o-pagination__item.active {
  color: var(--color-base);
  background: #fff;
}

.o-pagination .o-icon {
  margin: 8px 1rem 0;
  width: 20px;
  height: 20px;
  float: left;
}

.o-file {
  width: 186px;
  position: relative;
  height: 57px;
  display: inline-block;
  margin-right: 6px;
  border-radius: 2px;
  border: solid 1px var(--color-border);
  font-size: var(--text-size-l);
  color: var(--color-accident);
  padding: 10px 27px 14px 53px;
}

.o-file__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.o-file .o-icon_file {
  position: absolute;
  height: 36px;
  width: 36px;
  left: 10px;
  top: 10px;
  fill: #1e389c;
}

.o-file .o-icon_close {
  position: absolute;
  right: 10px;
  top: 10px;
}

