@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=cyrillic');

:root {
  --color-base: #000000;
  --color-light: #888888;
  --color-border: #e9e3ef;
  --color-border-hover: #dcd3e6;
  --color-success: #27ae6d;
  --color-warning: #e5006e;

  --background-body: #f9f7fb;
  --background-mask: rgba(0,0,0,.6);
  --background-panel: #ffffff;
  --background-row: #fffae3;
  --background-button_first: #3844d5;
  --background-button_second: #268fec;
  --gradient-first: #7100e5;
  --gradient-second: #3843d5;

  --text-size-xs: 0.625rem;   /* 10px */
  --text-size-s: 0.75rem;     /* 12px */
  --text-size-r: 0.875rem;    /* 14px */
  --text-size-m: 1rem;        /* 16px */
  --text-size-x: 1.125rem;    /* 18px */
  --text-size-xl: 1.5rem;     /* 24px */
  --text-size-xxl: 1.875rem;  /* 30px */
  --text-size-xxxl: 2.25rem;  /* 36px */

  --transition: 300ms ease-in 0s;

}

*,  ::after,  ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: var(--text-size-r);
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

table {
  table-layout: fixed;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 400;
  font-size: var(--text-size-r);
  border: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.47;
  font-weight: 400;
  height: 100%;
  background: var(--background-body);
  color: var(--color-base);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: var(--background-body);
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-light);
  border-radius: 4px;
}

/* OBJECTS */
[class*="o-icon"] {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-light);
  display: inline-block;
  vertical-align: middle;
}

.o-icon_s {
  width: 1.125rem;
  height: 1.125rem;
}

.o-text_small {
  font-size: var(--text-size-s);
}

.o-text_r {
  font-size: var(--text-size-r);
  font-weight: 400;
}

.o-text_light {
  color: var(--color-light);
}

.o-text_strong {
  font-weight: 700;
}

.o-text_error {
  color: var(--color-warning);
}

.o-text_nowrap {
  white-space: nowrap;
}

.o-text_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.o-title {
  font-size: var(--text-size-xl);
  padding-top: 5px;
  line-height: 1.64;
  font-weight: 600;
}

[class*="o-button"] {
  font-size: var(--text-size-xs);
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  height: 2.5rem;
  letter-spacing: 3px;
  padding: 0.8235rem 1.25rem;
  min-width: 10rem;
  text-align: center;
  text-decoration: none !important;
  border-radius: 20px;
  background: var(--background-body);
  position: relative;
  transition: color var(--transition), background-color var(--transition);
}

.o-button_primary {
  background: var(--gradient-first);
  background: linear-gradient(to right, var(--gradient-first) 0%, var(--gradient-second) 100%);
}

.o-button_secondary {
  background: var(--color-warning);
}

.o-button_secondary::before,
.o-button_primary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(0,0,0,.2);
  opacity: 0;
  transition: opacity var(--transition);
}

.o-button_primary:hover::before,
.o-button_secondary:hover::before {
  opacity: 1;
}

.o-button_cancel {
  background: transparent none;
  color: var(--color-base);
}

.o-button_margin {
  margin-left: 6rem;
}

.o-select, .o-input, .o-textarea {
  padding: .5rem 1.625rem .5rem 0.8125rem;
  height: 40px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  line-height: 1.47;
  border: 1px solid var(--color-border);
  position: relative;
  cursor: pointer;
  transition: border-color var(--transition);
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: var(--text-size-r);
}

.o-input {
  padding-right: 0.8125rem
}

.o-textarea {
  height: 80px;
  resize: vertical;
}

.o-textarea:hover,
.o-select:hover,
.o-input:hover {
  border-color: var(--color-border-hover);
}

.o-textarea:focus,
.o-select:focus,
.o-input:focus {
  border-color: var(--background-button_second)
}

.o-valid_accept,
.o-valid_accept:hover {
  border-color: var(--color-success)
}


.o-valid_reject,
.o-valid_reject:hover {
  border-color: var(--color-warning)
}

.o-file {
  width: 10.9375rem;
  height: 3.125rem;
  border: 1px solid var(--color-border);
  padding: 0.5rem 2.4375rem;
  position: relative;
  margin-right: 12px;
  display: inline-block;
  font-size: var(--text-size-xs);
}

.request-summary .o-file {
  width: 100%;
  margin-right: 0;
  padding-right: 10px;
}

.o-icon_file {
  width: 20px;
  height: 26px;
  position: absolute;
  left: 10px;
  top: 12px;
}

.o-file .o-icon_close {
  right: 10px;
  top: 12px;
  position: absolute;
}

.o-file__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--text-size-r);
}

.o-file .l-float_right {
  margin-top: 3px;
}

[class*="l-float_"].o-select {
  width: auto;
}

.o-select_inline {
  border: 0;
  display: inline;
}

.o-icon_more {
  width: 1.125rem;
  height: 1.125rem;
}

.o-dropdown-list {
  position: absolute;
  display: none;
  left: -20px;
  top: 1.75rem;
  background: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.o-table .o-dropdown-list {
  left: auto;
  right: -1rem;
}

.o-dropdown-list__item,
.o-select__item {
  display: block;
  text-decoration: none;
  padding: 1rem 1.25rem;
  text-transform: none;
  color: var(--color-base);
  white-space: nowrap;
  text-align: left;
  transition: background var(--transition);
}

.o-dropdown-list__item:hover {
  background: var(--background-body);
}

.o-table__td .o-select_inline {
  padding: 0 1.625rem 0 0;
  height: auto;

}

.o-table__td .o-select_inline::after {
  right: 14px;
  margin-top: -1px;
}

.o-select_inline + .o-link_with-icon {
  margin-left: 1.625rem;
}

.o-icon_drop::after,
.o-select::after {
  content: "▼";
  color: var(--color-light);
  font-size: 4px;
  position: absolute;
  right: calc(7px + 2%);
  margin-top: -3px;
  top: 50%;
  transform: scaleX(1.75);
  opacity: 0.5;
  transition: color var(--transition);
}

.o-icon_drop {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.o-link_with-icon:hover .o-icon_drop::after {
  color: var(--color-base);
}

.o-select__list {
  font-size: var(--text-size-r);
  display: none;
  position: absolute;
  top: 48px;
  max-height: 254px;
  overflow-y: auto;
  left: -1px;
  background: var(--background-panel);
  z-index: 9;
  width: calc(100% + 2px);
  border: 1px solid var(--color-border);
}

.o-select_opened .o-select__list {
  display: block;
}

.o-text_label {
  position: absolute;
  font-size: var(--text-size-xs);
  font-weight: 400;
  color: var(--color-light);
  top: -8px;
  left: 0.7rem;
  padding: 0 2px;
  background: var(--background-body);
}

.o-text_increased {
  font-size: var(--text-size-x);
}

.o-link {
  text-decoration: underline;
  cursor: pointer;
  transition: color var(--transition);
}

[class*="o-icon"].o-link,
.o-link [class*="o-icon"],
[class*="o-icon"].o-link_with-icon,
.o-link_with-icon [class*="o-icon"] {
  transition: fill var(--transition);
}

[class*="o-icon"].o-link:hover,
.o-link:hover [class*="o-icon"] {
  fill: var(--color-base);
}

.o-link_with-icon {
  color: var(--color-light);
  cursor: pointer;
  text-decoration: none !important;
  transition: color var(--transition);
  display: inline-block;
  vertical-align: middle;
}

.o-link_with-icon:hover {
  color: var(--color-base);
}

.o-link_with-icon [class*="o-icon"] {
  margin-right: 0.5rem;
  fill: currentColor;
  transition: fill var(--transition);
}

.o-link_accident {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-light);
  font-size: var(--text-size-xs);
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
  letter-spacing: 3px;
  transition: color var(--transition);
}

.o-title + .o-link_accident {
  margin-left: 1.25rem;
}

.o-button_primary + .o-link_accident {
  margin-left: 2rem;
}

.o-button_primary + .o-link_accident + .o-link_accident {
  margin-left: 5rem;
}

.o-link_accident:hover {
  color: var(--color-base);
}

.marked {
  position: relative;
  display: inline-block;
}

.marked::after {
  content: "";
  position: absolute;
  left: 100%;
  top: -5px;
  background: var(--color-warning);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  margin-left: 80%;
}

.o-table__th {
  font-size: var(--text-size-xs);
  text-transform: uppercase;
  padding: 1.1875rem .9375rem 1.0625rem;
  color: var(--color-light);
  border-bottom: 2px solid var(--color-border);
}

.o-table__td {
  padding: .9375rem .9375rem .875rem;
  border-top: 1px solid var(--color-border);
}

.o-table__group {
  border-left: 1px solid var(--color-border);
}

.o-table__group_current {
  background: var(--background-body);
}

.o-table__row-accident .o-table__td {
  background: var(--background-row);
}

tr:hover .o-table__td {
  background: var(--background-body);
}

.o-table__th:first-child,
.o-table__td:first-child {
  padding-left: 1.875rem;
}

.o-table__th:last-child,
.o-table__td:last-child {
  padding-right: 1.875rem;
}

tr:first-child .o-table__th_rowspan {
  border-bottom: 0;
  padding-top: 0.875rem;
}

tr:nth-child(2) .o-table__th_rowspan {
  padding-top: 0;
  padding-bottom: 0.75rem
}

.o-table__sum {
  color: var(--color-light);
}

.o-switcher {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}

.o-switcher::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 30px;
  height: 16px;
  border-radius: 8px;
  background: #bbbbbb;
  transition: background var(--transition);
}

.o-switcher::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 2px;
  top: 3px;
  border-radius: 50%;
  background-color: var(--background-panel);
  transition: left var(--transition);
}

.o-switcher_active::before {
  background: var(--gradient-first);
}

.o-switcher_active::after {
  left: 16px;
}

.o-switcher_title {
  margin-top: 5px;
  display: inline-block;
}

.o-switcher + .o-switcher {
  margin-left: 1.8125rem;
}

.o-filter {
  margin: 4px 1.75rem 0 0;
}

.o-filter__item {
  font-size: 14px;
  line-height: 1.52;
  color: var(--color-light);
  padding: 6px 1rem 5px;
  float: left;
  cursor: pointer;
  text-decoration: none;
  transition: color var(--transition);
}

.o-filter__item:hover {
  color: var(--color-base);
}

.o-filter__item.active {
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(45, 0, 90, 0.1);
  background-color: var(--background-panel);
  color: var(--color-base);
  cursor: default;
}

.o-colored {
  color: var(--background-button_second);
}

.o-dialog-wrapper {
  display: none;
  position: absolute;
  z-index: 40;
}

.o-popup-status {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem 3.125rem 1.25rem 134px;
  color: #fff;
  font-size: var(--text-size-x);
  background: var(--background-mask);
  text-align: center;
  z-index: 41;
}

.o-popup-status .o-button_primary {
  margin-left: 2rem;
}

.o-popup-status .o-button_cancel {
  color: #fff;
}

.o-popup-reports {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--background-panel);
  z-index: 40;
  box-shadow: 0 0 40px 0 rgba(45, 0, 90, 0.1);
}

.o-popup-reports__header {
  padding: 24px 50px;
}

.o-popup-reports__header .o-text_error {
  display: inline-block;
  vertical-align: middle;
}

.o-popup-reports .request-sum {
  font-size: var(--text-size-xxl);
  font-weight: 600;
  padding: 0;
}

.o-popup-reports .request-sum__label {
  font-size: var(--text-size-r);
  font-weight: 400;
  margin-top: 5px;
}

.o-popup-reports .o-table {
  border-bottom: 1px solid var(--color-border);
}

.o-popup-reports .o-table__td {
  color: var(--color-light);
}

.o-popup-reports .o-table__td:first-child,
.o-popup-reports .o-table__group_current {
  color: var(--color-base);
}

.o-popup-reports .o-table__td:first-child,
.o-popup-reports .o-table__th:first-child {
  padding-left: 50px;
}

.o-popup-reports .o-table__th:last-child,
.o-popup-reports .o-table__td:last-child {
  padding-right: 50px;
}

.o-popup-reports tr:first-child .o-table__th {
  border-top: 1px solid var(--color-border);
}

.o-popup-reports__footer {
  font-size: var(--text-size-x);
  padding: 1.375rem 0;
}

.o-popup-reports .o-icon_toggle {
  position: absolute;
  right: 1rem;
  top: 3rem;
}

.o-status {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  border-radius: 50%;
  border: solid 2px var(--color-light);
  background-color: #fff;
}

.header .o-status {
  margin-left: 2.5rem;
  vertical-align: middle;
}

.status_approved .o-status {
  border-color: var(--color-success);
}

.status_preapproved .o-status {
  border-color: var(--color-success);
  background: var(--color-success);
}

.status_rejected .o-status {
  border-color: var(--color-warning);
}

.status_draft .o-status {
  background: var(--color-light);
}

.status_closed .o-status {
  border-color: var(--color-base);
}

.o-status_saved {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  background: var(--background-button_second);
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
  border-radius: 20px;
  padding: 0.625rem 2rem;
}

.o-status_saved [class*="o-icon"] {
  fill: currentColor;
  margin-right: 0.625rem;
}

/* LAYOUTS */
.l-float_left {
  float: left;
}

.l-float_right {
  float: right;
}

.l-align_right {
  text-align: right;
}

.l-align_center {
  text-align: center;
}

.l-align_middle {
  display: inline-block;
  vertical-align: middle;
}

.l-position_relative {
  position: relative;
}

.l-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0.75rem;
}

.l-grid_row {
  margin-bottom: 0.625rem;
  min-height: 10px;
}

.l-grid__item_1 {grid-column: span 1}
.l-grid__item_2 {grid-column: span 2}
.l-grid__item_3 {grid-column: span 3}
.l-grid__item_4 {grid-column: span 4}
.l-grid__item_5 {grid-column: span 5}
.l-grid__item_6 {grid-column: span 6}
.l-grid__item_7 {grid-column: span 7}
.l-grid__item_8 {grid-column: span 8}
.l-grid__item_9 {grid-column: span 9}
.l-grid__item_10 {grid-column: span 10}
.l-grid__item_11 {grid-column: span 11}
.l-grid__item_12 {grid-column: span 12}

/* HEADER */
.header {
  padding: 2.625rem 3.125rem 1.0625rem 8.375rem;
}

.header__breadcrumbs {
  font-size: var(--text-size-xxl);
  font-weight: 600;
  line-height: 1.334;
}

.header [class*="o-button"] {
  float: left;
  margin: 3px 0 0 1.875rem;
}

/*.header .o-link {
  margin: .75rem 0 0 1.875rem;
}*/

.header .o-link_with-icon {
  margin-top: .75rem;
}

/* ASIDE */
.aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 84px;
  height: 100%;
  background: var(--background-panel);
  box-shadow: 0 0 40px 0 rgba(45, 0, 90, 0.1);
  overflow-x: hidden;
  transition: width var(--transition);
  z-index: 39;
}

.body_aside .aside-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background-mask);
  z-index: 29;
}

.body_aside .aside {
  width: 250px;
}

.o-logo {
  width: 194px;
  height: 41px;
  float: left;
  margin: 1.875rem 0 0 1.625rem;
  cursor: pointer;
}

.o-slogan {
  width: 194px;
  height: 63px;
  clear: left;
  float: left;
  margin: 0 0 1.875rem 1.625rem;
  opacity: 0;
  transition: opacity var(--transition);
}

.body_aside .o-slogan {
  opacity: 1;
}

.aside__menu {
  min-height: calc(100% - 17.75rem);
}

.o-menu__item {
  display: block;
  position: relative;
  padding: 1.125rem 1.875rem;
  font-size: 1rem;
  color: var(--color-light);
  white-space: nowrap;
  transition: color var(--transition), background var(--transition);
}

a.o-menu__item:link,
a.o-menu__item:visited {
  color: var(--color-light);
  text-decoration: none;
}

.o-menu__item .o-icon {
  margin-right: 1.875rem;
  fill: currentColor;
  transition: margin var(--transition), fill var(--transition);
}

a.o-menu__item.active {
  color: var(--gradient-first);
}

.body_aside .o-menu__item .o-icon {
  margin-right: 0.875rem;
}

.o-menu__item:hover {
  background: var(--background-body);
  cursor: pointer;
}

.o-submenu-marker {
  width: 3px;
  height: 6px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  fill: currentColor;
}

.o-menu__fixed {
  display: none;
  position: fixed;
  top: 0;
  opacity: 0;
  background: #fff;
  width: auto;
  max-height: 100%;
  z-index: -1;
  left: 85px;
  margin-left: -220px;
}

.o-menu__fixed_visible {
  display: block;
  z-index: 39;
  margin-left: 0;
  opacity: 1;
  transition: opacity var(--transition), left var(--transition);
}

.body_aside .o-menu__fixed {
  left: 251px;
}

.o-menu__submenu {
  display: none;
  position: absolute;
  top: -50px;
  left: 100%;
  opacity: 0;
  margin-left: 1px;
  z-index: -1;
  background: #fff;
}

.o-menu__submenu_visible {
  display: block;
  top: 0;
  z-index: 42;
  opacity: 1;
  transition: top var(--transition), opacity var(--transition);
}

.aside__user {
  font-size: var(--text-size-r);
  padding: 1.25rem;
  margin-top: 2rem;
  white-space: nowrap;
}

.aside__user img {
  float: left;
  width: 3rem;
  height: 3rem;
  margin-top: -3px;
  margin-right: 1rem;
  border-radius: 50%;
}

/* SECTION */
.section {
  padding: 0 3.125rem 5rem 8.375rem;
  font-size: var(--text-size-r);
}

.section__header {
  padding-bottom: 1.8125rem;
}

.section__header-filter {
  margin: 0.5rem 1rem 0 2rem;
}

.o-container, .o-table_static {
  border-radius: 4px;
  border: solid 1px var(--color-border);
  background-color: var(--background-panel);
  margin-bottom: 1.75rem;
}

.o-table_static {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.o-pagination {
  line-height: 38px;
}

.o-pagination__item {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  width: 2.625rem;
  text-align: center;
  color: var(--color-light);
  cursor: pointer;
  line-height: 1.875rem;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: color var(--transition), border var(--transition);
}

.o-pagination__item:hover {
  border-color: var(--color-border);
  color: var(--color-base);
}

.o-pagination__item.active:hover,
.o-pagination__item.active {
  cursor: default;
  color: var(--color-base);
  border-color: transparent;
}

.o-pagination .o-select {
  margin-left: 1rem;
}

.request-header {
  padding-top: 13px;
}

.request-header .o-switcher {
  margin-left: 1.25rem
}

.request-header__tabs {
  padding: 1.25rem 0 1.875rem;
}

.request-header__tabs::after {
  content: "";
  display: block;
  clear: both;
}

.request-header__tab-item {
  padding: 1rem 0;
  float: left;
  margin-right: 30px;
  font-size: var(--text-size-x);
  cursor: pointer;
  color: var(--color-light);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color var(--transition);
}

.request-header__tab-item:hover {
  color: var(--color-base);
}

.request-header__tab-item_current {
  border-color: var(--gradient-first);
  color: var(--color-base);
  cursor: default;
}

.request-sum {
  padding-bottom: 0.75rem;
}

.request-sum__item {
  width: calc(50% - 1rem);
  height: 3.75rem;
  float: left;
  background: var(--background-button_second);
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 12px 0;
  margin-left: 1rem;
}

.request-sum__item:first-child {
  background: var(--background-button_first);
  margin-left: 0;
  margin-right: 1rem;
}

.request-sum__label {
  font-weight: 400;
}

.usr_ava {
  float: right;
  margin-left: 1rem;
}

.usr_ava img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.section__form {
  margin-top: 1rem;
}

.section__form .l-grid {
  grid-column-gap: 2rem;
}

.section__form .l-grid_row {
  margin-bottom: 1.375rem;
}

.request-summary {
  float: right;
  width: 15.625rem;
}

.section__doc__amounts {
  margin-right: 17.5rem;
}

.request-info {
  margin-right: 17.5rem;
  margin-top: 2rem;
}

.header__user img {
  width: 2.75rem;
  height: 2.75rem;
  float: left;
  margin-right: 0.75rem;
  border-radius: 50%;
  margin-top: -4px;
}

.o-icon_history-back {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
}

.header__edit {
  text-decoration: none;
}

.header__edit .o-icon_s {
  width: 1.125rem;
  height: 1.125rem;
  vertical-align: baseline;
  margin-left: 8px;
}

.request-amount {
  font-size: var(--text-size-xxxl);
  font-weight: 600;
  margin-bottom: 1.125rem;
}

.request-amount__label {
  font-size: var(--text-size-x);
  font-weight: 400;
  color: var(--color-light);
}

.request-summary__activity {
  position: relative;
  padding-left: 1.125rem;
}

.request-summary__activity .o-status {
  position: absolute;
  left: 0;
  top: 5px;
}

.request-summary__user {
  padding-top: 0.625rem;
}

.request-summary__user img {
  float: left;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.625rem;
  margin-top: -3px;
}